/* In 98.css */
:root {
  --surface: #c0c0c0;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --window-frame: #0a0a0a;
  --dialog-blue: #000080;
  --dialog-blue-light: #1084d0;
  --link-blue: #0000ff;
}

.window {
  background: var(--surface);
  box-shadow: inset -1px -1px #0a0a0a,
    inset 1px 1px #dfdfdf,
    inset -2px -2px grey,
    inset 2px 2px #fff;
  padding: 3px;
}

.title-bar {
  background: linear-gradient(90deg, var(--dialog-blue), var(--dialog-blue-light));
  padding: 3px 2px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar-text {
  font-weight: bold;
  color: white;
  letter-spacing: 0;
  margin-right: 24px;
}

.title-bar-controls {
  display: flex;
  gap: 2px;
}

.window-body {
  margin: 8px;
}

fieldset {
  border: 2px groove #fff;
  padding: 10px;
  margin: 0;
}

button {
  box-sizing: border-box;
  border: 1px solid #000;
  background: var(--surface);
  box-shadow: inset -1px -1px #0a0a0a,
    inset 1px 1px #fff,
    inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
  border-radius: 0;
  min-width: 110px;
  min-height: 23px;
  padding: 0 12px;
}

button:not(:disabled):active {
  box-shadow: inset -1px -1px #fff,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px grey;
  padding: 2px 11px 0 13px;
}

.field-row {
  display: flex;
  gap: 6px;
}