body {
  color: #b240d2;
  font-family: ms gothic, courier;
  margin: 0;
  font-size:16px;
  background-image: url(gifs/geyastar.webp);
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
  cursor: url('cursors/prettybutterfly.cur'), auto;
  -webkit-user-select: none;
  user-select: none;
}

/*Prevent image dragging*/
img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}

/*Prepare Fonts*/
@font-face {
  font-family: 'PixelFont';
  src: url('../fonts/PixelOperator-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Chicago";
  src: url('../fonts/ChicagoFLF.ttf') format("truetype");
}

/*Set default for paragraph text*/
p {
  font-family: PixelFont;
  font-size: 20px;
  margin: 10px 0;
  padding: 0;
  line-height: 1.1;
}

/* Controls All Hyperlinks */
a {
  color: #0073e6;
}

a:hover {
  cursor: url('cursors/prettybutterflypoint.cur'), auto;
}

/*
.star-divider {
  background-image: url('gifs/flyingstars.gif');
  background-repeat: repeat-x;
  background-position: top center;
  height: 42px;
}
*/


/* -------------- MAIN WINDOW -------------- */
.container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  width: 972px;
  overflow: hidden;
  margin: 0 auto;
  min-height: 610px;
  max-height: 610px;
  border-radius: 0 0 5px 5px;
  border: 5px solid #7e00b4;
  background-attachment: scroll;
  background-image: url("gifs/rbowlinebg.gif");
  background-size: auto;
  background-repeat: repeat;
}


/* -------------- TASKBAR AT TOP OF MAIN CONTAINER -------------- */
.taskbar {
  box-sizing: border-box;
  width: 972px;
  margin: 15px auto 0 auto;
  background-color: #7e00b4;
  height: 24px;
  border-radius: 5px 5px 0 0;
  border: 2px solid #7e00b4;
  border-bottom: none;
  text-align: right;
  font-family: ms gothic, courier;
  color: white;
  padding:5px 8px 5px 0;
  font-size: 14px;
}


/* -------------- BOX 1: About Me Header -------------- */
.box1 {
  width: 750px;
  padding: 2px 9px;
  margin-top: 10px;
  margin-left: 181px;
  border: 2px solid #7e00b4;
  border-radius: 5px;
  text-align: center;
  background-color: #7e00b4;
  position: relative;
  overflow: hidden;
  height: 85px;
}

.about-glitter {
  text-align: center;
  margin-top: 15px;
  height: auto;
}

.butterfly-left,
.butterfly-right {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 8px;
}

.butterfly-left {
  left: 10px;
}

.butterfly-right {
  right: 10px;
  transform: scaleX(-1);
}


/* FORMATTING FOR AREA CONTAINING BOXES 2-5 */
.content-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 171px;
}

/* GENERAL FORMATTING FOR ALL CONTENT BOXES */
.row {
  display: flex;
  justify-content: center;
  gap: 10px; /*Space between boxes sides*/
  margin-top: 10px; /*Space between boxes tops/bottoms*/
}


/* -------------- BOXES 2 & 3 -------------- */
.box2, .box3{
  width: 360px;
  max-height: 250px;
  background-color: #ffcefe;
  border: 2px solid #7e00b4;
  border-radius: 5px;
  padding: 5px 9px;
  text-align: left;
  color: #011fa5;
  overflow: auto;
}

.mood-icon {
    width: 25px;
    height: auto;
    vertical-align: middle;
    margin-left: 5px;
}


/* -------------- BOX 4: PICTURE OF ME -------------- */
.box4{
  width: 322px;
  height: 242px;
  border-radius: 5px;
  padding: 5px 0;
  overflow: visible;
  justify-content: left;
}

.box4-img {
  width: 100%;
  display: block;
  margin: 0;
  padding-left: 10px;
}


/* -------------- BOX 5: IPOD INTERFACE -------------- */
.box5 {
  width: 440px;
  height: auto;
  border-radius: 5px;
  padding: 5px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.ipod-container {
  font-size:14px;
  background-image: url(pics/colorfulmetallic.jpg);
  background-size: cover;
  border: 2px solid #7e00b4;
  border-radius: 10px;
  padding: 15px;
  font-family: "Chicago", monospace;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* iPod Screen with LCD Screen Effects */
.ipod-screen {
  position: relative;
  background: #d4d4d4;
  border-radius: 10px;
  border: 1px solid #7e00b4;
  padding: 6px 6px 0;
  margin: 10px 0;
  flex: 1;
  min-height: 170px;
  max-width: 68%;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

/* Base LCD texture */
.ipod-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.1) 1px, /*Red*/
      transparent 1px
    ),
    
    linear-gradient(
      90deg,
      rgba(0, 255, 0, 0.1) 2px, /*Green*/
      transparent 2px
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 255, 0.1) 3px, /*Green*/
      transparent 3px
    );
  background-size: 3px 1px;
  pointer-events: none;
  opacity: 0.8;
}

/* Rainbow effect overlay */
.ipod-screen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    linear-gradient(
      45deg,
      transparent 0%,
      rgba(255, 0, 0, 0.1) 45%,
      rgba(0, 255, 0, 0.1) 50%,
      rgba(0, 0, 255, 0.1) 55%,
      transparent 100%
    ),
    repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px,
      transparent 2px
    );
  mix-blend-mode: color;
  pointer-events: none;
  opacity: 0.4;
}


/*Song List on Ipod Screen */
.song-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin-top: 0;
  max-height: 158px;
  overflow-y: auto;
  border: 1px solid #ccc;
  scrollbar-width: thin;
  scrollbar-color: #c929f0 #c929f0;
  background: #d4d4d4;
}

/* Base LCD texture */
.song-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(0, 255, 0, 0.1) 2px,
      transparent 2px
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 255, 0.1) 3px,
      transparent 3px
    );
  background-size: 3px 1px;
  pointer-events: none;
  opacity: 0.8;
  z-index: 1;
}

/* Rainbow effect overlay */
.song-list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    linear-gradient(
      45deg,
      transparent 0%,
      rgba(255, 0, 0, 0.5) 45%,
      rgba(0, 255, 0, 0.5) 50%,
      rgba(0, 0, 255, 0.5) 55%,
      transparent 100%
    ),
    repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px,
      transparent 2px
    );
  mix-blend-mode: color;
  pointer-events: none;
  opacity: 0.4;
  z-index: 2;
}

.song-item {
  position: relative;
  text-shadow: 
    -1px 0 1px rgba(255,0,0,0.9),
    1px 0 1px rgba(0,255,255,0.9);
  z-index: 3;
  font-size: 14px;
  color: #333;
  padding: 4px 5px;
  background-color: rgba(249, 249, 249, 0.7);
}

.song-item:nth-child(even) {
  background-color: rgba(232, 232, 232, 0.7);
}

.song-item:hover {
  background: linear-gradient(
    90deg,
    rgba(255,0,0,0.1),
    rgba(255,255,0,0.1),
    rgba(0,255,0,0.1),
    rgba(0,255,255,0.1),
    rgba(0,0,255,0.1)
  );
  text-shadow: 
    -1px 0 1px rgba(255,0,0,0.9),
    1px 0 1px rgba(0,255,255,0.9);
}
/*Done with LCD Formatting Now*/


.screen-header {
  text-align: center;
  position: relative;
  border-bottom: 1px solid #999;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  text-shadow: 
    -1px 0 1px rgba(255,0,0,0.8),
    1px 0 1px rgba(0,255,255,0.8);
  font-weight: bold;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.heartgem-left,
.heartgem-right {
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  width: 35px;
  height: auto;
}

.heartgem-right {
  transform: scaleX(-1);
}

.musicnote-left,
.musicnote-right {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  padding-bottom: 4px;
  width: 35px;
  height: auto;
}


/* Controls for iPod */
.ipod-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #7e00b4;
    border-radius: 50%;
    gap: 5px;
    padding: 5px;
    user-select: none;
}

.controls-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.center-button {
  width: 35px;
  height: 35px; 
  background: #ffcefe;
  border: 1px solid #f029ba;
  border-radius: 50%;
  justify-content: center;
}

.wheel-button, .menu-button, .play-button {
  background: none;
  border: none;
  color: white;
  font-size: 12px;
}

.menu-button {
  font-weight: bold;
  margin-bottom: 3px;
}

.play-button {
  margin-top: 3px;
}



/* -------------- NAVIGATION PANEL -------------- */

/*CONTROLS NAV BAR POSITION*/
nav {
  z-index: 99;
  position: absolute;
  width: 150px;
  height: 600px;
  padding-left: 20px;
  border-right: 2px solid #7e00b4;
  background-image: url("pics/pinkcheetah.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

/*STYLES NAV BUTTON TEXT*/
.navlinktext {
  font-family: PixelFont;
  font-size: 20px;
  text-decoration: none!important;
}

.buttons {
  border: 2px solid #7e00b4;
  border-radius: 5px;
}

/*CONTROLS NAV BUTTON/TEXT POSITION*/
.navlink {
  display: block;
  height: 35px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 130px;
  margin-bottom: 10px;
  /*BELOW: MOVES TEXT*/
  padding: 5px 0;
  color: white;
  text-align: center;
  border: 2px solid #7e00b4;
}

.sideimage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  margin-bottom: 5px;
}

.sideimage img {
  margin: 0;
  max-height: 75px;
  max-width: 90px;
}

.blinkies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  margin-top: 10px;
}

.blinkies img {
  margin: 0;
  max-width: 140px;
}

/*Add padding so it matches nav links' center*/
#sidebar {
  padding-right: 20px;
}


/* -------------- CUTE CHARACTER - BOTTOM LEFT CORNER OF SCREEN -------------- */

.character{
  position: fixed; 
  left: 10px; 
  bottom: 5px; 
  width: 170px;
  height: 170px;
  background-image: url(pics/imacfishtank.png);
  background-size: 170px 170px;
}

.fishtank {
  position: fixed; 
  right: 10px;
  bottom: 0;
  width: 150px;
  height: 165px;
  background-image: url(gifs/fishtank.webp);
  background-size: 150px 165px;
}

/* -------------- MOBILE POPUP WARNING -------------- */
.title-bar-controls span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 14px;
  background: #c0c0c0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.title-bar-controls button {
  background: c0c0c0;
  border: none;
  font-size: 16px;
}

.window-body {
  padding: 10px;
}

.mobile-popup, .mobile-overlay {
  display: none;
}

.mobile-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  z-index: 9999;
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9998;
}

/* Popup content styles */
.mobile-popup .title-bar-text {
  padding-left: 3px;
  font-family: 'PixelFont';
  font-size: 18px;
}

.mobile-popup .window-body {
  margin: 0;
}

.mobile-popup .message-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.mobile-popup .error-icon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  pointer-events: none;
}

.mobile-popup p {
  line-height: 1.2;
  font-size: 18px;
  margin: 0;
  font-family: 'PixelFont';
}

.mobile-popup .field-row {
  display: flex;
  justify-content: center;
}

.mobile-popup button {
  min-width: 70px;
  font-family: 'PixelFont';
  font-size: 18px;
}
